@media(max-width:1190px){
.Intro, .Eventsection, .Informationsection {
    margin-bottom: 100px;
    text-align: center;
}
 .navheader{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 2rem;
  }
  header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
    justify-content:left;
    padding: 15px;
    max-width: 1000px;
    width: 50%;
}
}

@media(max-width:780px){

  .navheader{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1rem;
  }
  header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    align-items: center;
    justify-content:left;
    padding: 15px;
    max-width: 1000px;
    width: 50%; 
}
.Intro, .Eventsection, .Informationsection {
    margin-bottom: 100px;
    text-align: center;
}
.logoimg {
    width: 60px;
}
.bookimg {
    width: 100px;
}
.eventul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #ffb09c;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    max-width: 2000px;
    width: 90%;
    margin: 0 auto;
}
h1{
  font-size: 24px;
  margin-bottom: 20px;
}
h2{
  font-size: 20px;
  margin-bottom: 10px;
}
h3, h4, p{
  font-size: 16px;
  margin-bottom: 10px;
}
.Socialmedia{
margin-top: 50px;
margin-bottom: 50px;
}
}
