@media(max-width:1024px){
   header{
    padding: 10px;
    flex-flow: wrap;
   }
   .navheader{
    gap:10px;
   }
}
@media(max-width:768px){
  .navheader{
    display: none;
    flex-direction: column;
    padding: 10px;
  }
.Intro, .Eventsection, .Informationsection {
    margin-bottom: 100px;
    text-align: center;
}
.logoimg {
    width: 60px;
}
}
