/* -------------------- GLOBAL RESET -------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: cursive, sans-serif;
    font-weight: 400;
    line-height: 1.5;
}
html{
    text-align: center;
}

/* -------------------- TYPOGRAPHY -------------------- */
h1, h2, h3, h4 {
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -2px;
    color: rgb(206, 49, 28);
}

h1 {
    font-size: 48px;
    text-align: center;
    margin-bottom: 50px;
}

h2 {
    font-size: 40px;
    margin-bottom: 30px;
}

h3 {
    font-size: 32px;
    margin-bottom: 20px;
}
h4{
    font-size: 28px;
    margin-bottom: 30px;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}
b {
    color: rgb(47, 1, 9);
}

a {
    font-size: 16px;
    text-decoration: none;
    display: flex;
    color: rgb(59, 26, 26);
}

ul {
    list-style: none;
}

/* -------------------- LAYOUT SECTIONS -------------------- */
.Intro,
.Eventsection,
.Informationsection {
    margin-bottom: 300px;
    text-align: center;
}

footer {
    text-align: center;
}
.Socialmedia{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.holiday {
    color: red;
}

/* -------------------- HEADER / NAV -------------------- */
header {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap-reverse;
    background-color: #f3c0c0;
    border: 1px solid #efc0ce;
    align-items: center;
    justify-content:space-evenly;
    padding: 15px;
    max-width: 3000px;
    width: 100%;
    margin: 0 auto;
}

.navheader {
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}
#menu-toggle{
    display: none;
}
.hamburger{
    display: none;
    cursor: pointer;
}

/* -------------------- EVENT SECTION -------------------- */
.eventul {
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: #f3c0c0;
    border: 1px solid #efc0ce;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    max-width: 2000px;
    width: 90%;
    margin: 0 auto;
}

/* -------------------- BUTTONS -------------------- */
.btnprimary,
.btnsecondary,
.btnteritary {
    font-size: 16px;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 10px;
    display: block;
    width: 200px;
    text-align: center;
}

.btn {
    font-size: 16px;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 8px;
}

/* Hover Effects */
.btnprimary:hover,
.btnprimary:active {
    color: #fceaea;
    background-color: #a05f4db1;
}

.btnsecondary:hover,
.btnsecondary:active {
    color: #fceaea;
    background-color: #a05f4db1;
}

.btnteritary:hover,
.btnteritary:active {
    color: #fceaea;
    background-color: #a05f4db1;
}

/* -------------------- IMAGES -------------------- */
.logoimg {
    width: 100px;
}

.bookimg {
    width: 500px;
}

.socialimg {
    width: 20px;
    text-align: center;
}

