@use "variables" as *;
@use "mixins" as *;

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}
// NAV
header {
    display: flex;
    flex-direction: row;
    background-color: #ffb09c;
    align-items: center;
    justify-content: space-between;
    padding: 15px;


.navheader {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
}



.intro-text {
    @include element-ram; @include standard-font; text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 0 auto;
    

    .flex-bild {
        /* margin-left: 30%; */
        @include element-ram;
        float: left;
        margin-right: 10px;
    }

    .flex-text {
        padding-left: 10px;
        margin-bottom: 3em;
        @include standard-font;
    }
}

.galleri {
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
    columns: 4 300px;
    column-gap: 1em;


img {
    display: block;
    margin-bottom: 1em;
    width: 100%;

    }
}

footer {
    text-align: center;
}

@media (max-width: 800px) {
    .flex-container .flex-text {
        font-size: 16px;
    }
    .intro-text {
        display: none;
    }
    .flex-bild {
        max-width: 150px;
    }
}

  